<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}fashion archives | archives.{% endblock %}</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

    {% block extra_head %}{% endblock %}
</head>
<body>
    <div class="header">
        <h1>archives.</h1>
        <nav class="nav">
            <a href="/">home</a>
            <a href="/thehistory">the history</a>
            <a href="/designers">designers</a>
            <a href="/brands">brands</a>
            <a href="/items">items</a>
        </nav>
    </div>

    <div class="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>